.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
width: 100%;
background-color: hsl(30, 38%, 92%);
font-family: 'Montserrat', sans-serif;
display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.contain{
    display: flex;
background-color: white;
width: 70%;
margin-top: 100px;
border-radius: 10px;
flex-wrap: wrap;

}
.imagesection{

    flex:1; 
    height: 500px;
  }
.textsection{
    flex:1;  
    background-color:white;
    border-radius: 10px;


}
.imag{    
    border-radius: 10px 0px 0px 10px;
    width: 100%;
    object-fit: cover;
height: 100%;
}
.txt{
    width: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-self: center;
}
h6{
    font-family: 'Fraunces', serif;
    background-color: white;
    letter-spacing: 3px;
    font-size: 15px;
    color:  hsl(228, 12%, 48%);
    text-transform: uppercase;
    width: auto;
   
}
h1{
    background-color: white;
}

h1~p{
    background-color: white;
    font-size: 14px;
    color:  hsl(228, 12%, 48%);
}
.money{
    background-color: white;

    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
.org{
    background-color: white;
    color:  hsl(158, 36%, 37%);
   font-size: xx-large;
    font-weight:1000;
}
.befor{
    background-color: white;

    color:  hsl(228, 12%, 48%);
text-decoration: line-through;
}
button{
background-color:  hsl(158, 36%, 37%);
    cursor: pointer;
    border: none;
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
}
button>img{
    margin-right: 10px;
    width: 20px;
    background-color:  hsl(158, 36%, 37%);

}
@media screen and (max-width: 575px){
    .contain{
        width: 90%;
        flex-direction: column;    }
.imagesection{
    height: 300px;
}
    .imag{
        height: auto;
        margin-bottom: 0;
        border-radius: 10px 10px 0 0;

    }
    
    }

@media screen and (max-width: 880px) {
    .contain {
        width: 80%;
        margin-bottom: 100px;
    }
    .imag{
        height: 100%;
    }

.txt {
    width:90%;
    padding: 0;
}
}